* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* ::-webkit-scrollbar {
    width: 0;
} */

body {
    font-size: 100%;
    font-family: sans-serif;
    height: 100%;
    background-color: #fffacd;
    color: #1b1b1b;
    /* background-image: url(../img/background.jpg); */
    /* background-size: 100%; */
}

.highlight {
    background-color: rgb(47, 0, 255);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 18vh;
    background-color: #FFE340;
    width: 100%;
    text-align: center;
}

article {
    /* position: fixed; */
    background-color: #fffacd;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    height: 100%;
    width: 100%;
}

#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    order: 1;
    background-color: #fefae0;
    width: 20%;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px;
    text-align: center;
}

#textNum {
    font-size: 30px;
    padding-bottom: 15px;
    font-weight: bold;
}

.cont {
    order: 2;
    margin-top: 20px;
    margin-left: 10%;
    text-align: center;
}

td {
    background-color: wheat;
    text-align: center;
    border: 2px solid;
}

th {
    width: 30vh;
    height: 30vh;
    text-align: center;
    border: 2px solid;
    background-color: wheat;
}


/* .col {
    width: 30vh;
    height: 30vh;
    text-align: center;
    border: 2px solid;
    background-color: wheat;
} */

#a0 {
    font-style: italic;
    font-weight: 900;
    font-size: 90px;
}

#a1 {
    font-weight: 1000;
    font-size: 80px;
}

.a0,
.a1,
.a2 {
    width: 20vh;
    height: 18vh;
}

.greenB {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}